<ion-header>
  <ion-toolbar>
    <ion-title class="text-center" >Messaggi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users; let id = index"
      detail = 'true' [routerLink]="[id, 'detail']">
      <ion-avatar slot="start">
        <img alt="user icon" [src]="user.picture.thumbnail">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</h2>
        <ion-note color="primary">{{ user.phone }}</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

